<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de listes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Listes de tâches</h1>

    <form action="/task_lists" method="POST">
      <label for="name">Ajouter une nouvelle liste :</label>
      <input type="text" name="name"/>
      <input type="submit" value="OK"/>
    </form>

    <ul>
        <% lists.forEach((list) => { %>
          <li> <a href="<%= `/task_lists/${list.Id}` %>"><%= list.Name %></a> </li>
        <% }) %>
    </ul>

    

</body>
</html>